@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    box-sizing: border-box;
}

html,
body {
    font-family: 'Roboto', Arial, sans-serif;
    padding: 0;
    margin: 0;
    min-height: 100vh;
}

.container {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 450px;
}

header {
    width: 100%;
    background-color: #1f2937;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-bottom: 80px;
}

.header {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 56px;
}

.header h1 {
    font-size: 24px;
    color: #f9faf8;
}

.header h1 a {
    font-size: inherit;
    color: inherit;
    text-decoration: none;
}

.header ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 16px;
}

.hero {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    gap: 16px;
}

.hero-text {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: flex-start;
}

.hero-text h2 {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
    margin: 0;
}

.hero-text button {
    background-color: #3882f6;
    color: #f9faf8;
    padding: 8px;
    font-size: 18px;
    border-radius: 8px;
}

.hero-image {
    flex: 1;
}

.hero-image img {
    width: 100%;
}

.footer {
    background-color: #1f2937;
}

.hero-text,
li a {
    color: #E5E7EB;
    font-size: 18px;
}

li a {
    text-decoration: none;

}

.info-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    padding-bottom: 80px;
}

.info-container h2 {
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
}

.illustrations {
    display: flex;
    justify-content: space-evenly;
    gap: 24px;
}

.illustration {
    flex: 1;
    text-align: center;

}

.illustration img {
    border: 4px solid #3882f6;
    border-radius: 8px;
    width: 100%;
}

.quote-container {
    width: 100%;
    background-color: #e5e7eb;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 80px 0px;
}

.quote {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.quote q {
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    color: #1f2937;

}

.quote-by {
    align-self: flex-end;
    font-weight: bold;
}